<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Seštevek: {{ kilo }}!</h1>
    <br>
    <h3>Če vaš indeks telesne mase znaša:</h3>
    <ul>
    <li><strong>18,5 ali manj</strong>: ste glede na svojo višino podhranjeni (presuhi). Torej s hrano ne dobite dovolj hranil v telo. </li>
    <li>Med <strong>18,5 in 24,9</strong>: zdrava,normalna telesna teža glede na vašo višino.</li>
    <li>Med <strong>25 in 29,9</strong>: spadate v skupino čezmerno prehranjenih. Priporočljivo je, da svoj indeks telesne mase zmanjšati pod 25.</li>
    <li>ITM med <strong>30 do 40</strong>: znamenje debelosti. Pri hujšanju boste potrebovali veliko volje in vzpodbude ter morda strokovno pomoč.</li>
    <li>ITM nad <strong>40</strong>: znamenje ekstremne debelosti. Pri zmanjševanju teže boste potrebovali pomoč specialista.</li>
    </ul>

</body>
</html>